<div class="wrapper" fxLayout="column">
    <header [class.mat-elevation-z8]="true">
        <mat-toolbar color="primary" mat-elevation-z8>
            <mat-toolbar-row>
                <span>App</span>
                <span class="fill-rem-space"></span>
                <button mat-icon-button [matMenuTriggerFor]="guest">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #guest="matMenu">
                    <button mat-menu-item (click)="openSignInModal()">
                        <mat-icon>lock_open</mat-icon>
                        <span>Sign In</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>transfer_within_a_station</mat-icon>
                        <span>Sign Up</span>
                    </button>
                </mat-menu>
                <mat-menu #customer="matMenu">
                    <button mat-menu-item>
                        <mat-icon>account_circle</mat-icon>
                        <span>My Account</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>shopping_cart</mat-icon>
                        <span>My Cart</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>receipt</mat-icon>
                        <span>My Orders</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>favorite</mat-icon>
                        <span>Wish List</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>lock_outline</mat-icon>
                        <span>Sign Out</span>
                    </button>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>
    </header>
    <div fxFlex="1">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                Footer Content
            </mat-toolbar-row>
        </mat-toolbar>
    </footer>
</div>
