@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
}

.float-right {
    float: right !important;
}

.fill-rem-space {
    flex: 1 1 auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
