@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.float-right {
    float: right !important;
}

.fill-rem-space {
    flex: 1 1 auto;
}
