<div class="container">
    <mat-card>
        <mat-card-title>
            <span>Popular Brands</span>
            <button mat-mini-fab color="primary" class="float-right">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </mat-card-title>
        <mat-card-content>
            <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px" fxLayoutGap.xs="0">
                <div fxFlex="12.5%">Item 1</div>
                <div fxFlex="12.5%">Item 2</div>
                <div fxFlex="12.5%">Item 3</div>
                <div fxFlex="12.5%">Item 4</div>
                <div fxFlex="12.5%">Item 5</div>
                <div fxFlex="12.5%">Item 6</div>
                <div fxFlex="12.5%">Item 7</div>
                <div fxFlex="12.5%">Item 7</div>
            </div>
        </mat-card-content>
    </mat-card>
</div>